<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>pers.joy.web.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCourseServlet</servlet-name>
        <servlet-class>pers.joy.web.SearchCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectCourseServlet</servlet-name>
        <servlet-class>pers.joy.web.SelectCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSelectedServlet</servlet-name>
        <servlet-class>pers.joy.web.UpdateSelectedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DropCourseServlet</servlet-name>
        <servlet-class>pers.joy.web.DropCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCompletedCoursesServlet</servlet-name>
        <servlet-class>pers.joy.web.GetCompletedCoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTeacherServlet</servlet-name>
        <servlet-class>pers.joy.web.GetTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCourseServlet</servlet-name>
        <servlet-class>pers.joy.web.GetCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCourseServlet</servlet-name>
        <servlet-class>pers.joy.web.CreateCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <servlet-class>pers.joy.web.DeleteCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCourseServlet</servlet-name>
        <servlet-class>pers.joy.web.EditCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTeacherServlet</servlet-name>
        <servlet-class>pers.joy.web.AddTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentServlet</servlet-name>
        <servlet-class>pers.joy.web.GetStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStudentServlet</servlet-name>
        <servlet-class>pers.joy.web.CreateStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudentServlet</servlet-name>
        <servlet-class>pers.joy.web.EditStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>pers.joy.web.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTeacherServlet</servlet-name>
        <servlet-class>pers.joy.web.CreateTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTeacherServlet</servlet-name>
        <servlet-class>pers.joy.web.DeleteTeacherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCourseServlet</servlet-name>
        <url-pattern>/searchCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectCourseServlet</servlet-name>
        <url-pattern>/selectCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSelectedServlet</servlet-name>
        <url-pattern>/updateSelected</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DropCourseServlet</servlet-name>
        <url-pattern>/dropCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCompletedCoursesServlet</servlet-name>
        <url-pattern>/completedCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTeacherServlet</servlet-name>
        <url-pattern>/getTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCourseServlet</servlet-name>
        <url-pattern>/getCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCourseServlet</servlet-name>
        <url-pattern>/createCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <url-pattern>/deleteCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCourseServlet</servlet-name>
        <url-pattern>/editCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTeacherServlet</servlet-name>
        <url-pattern>/addTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudentServlet</servlet-name>
        <url-pattern>/getStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStudentServlet</servlet-name>
        <url-pattern>/createStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudentServlet</servlet-name>
        <url-pattern>/editStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/deleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTeacherServlet</servlet-name>
        <url-pattern>/createTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTeacherServlet</servlet-name>
        <url-pattern>/deleteTeacher</url-pattern>
    </servlet-mapping>
</web-app>
