<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.joy.mapper.DepartmentMapper">

    <cache/>

    <select id="queryAllDepartments" resultType="Department">
        select * from department order by name
    </select>

    <select id="queryDepartmentByNo" resultType="Department">
        select * from department where no=#{no}
    </select>
</mapper>
