<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.joy.mapper.StudentMapper">
    <select id="queryStudentByUsernameAndPassword" resultType="User">
        select no, name from student where username=#{username} and password=#{password}
    </select>

    <select id="queryStudentSum" resultType="String">
        select count(*) from student
    </select>

    <select id="queryAllStudent" resultType="User">
        select * from student order by no limit #{begin}, #{pageSize}
    </select>

    <select id="queryStudentSumByName" resultType="String">
        select count(*) from student where name like #{name}
    </select>

    <select id="queryStudentByName" resultType="User">
        select * from student where name like #{name} order by no limit #{begin}, #{pageSize}
    </select>

    <select id="queryStudentBySNo" resultType="User">
        select * from student where no = #{sNo}
    </select>

    <insert id="insertStudent">
        insert into student values(#{no},#{name},#{department},#{gender},#{birthday},#{username},#{password})
    </insert>

    <update id="updateStudent">
        update student set name=#{name}, department=#{department}, gender=#{gender}, birthday=#{birthday}
        where no = #{no}
    </update>

    <delete id="deleteStudent">
        delete from student where no = #{sNo}
    </delete>
</mapper>
